@font-face {
  font-family: "Fraunces", serif;
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope", sans-serif;
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400, 700;
}

:root {
  --clr-purple: hsl(273, 85%, 13%);
  --clr-green: hsl(150, 100%, 63%);
  --clr-grey: hsl(271, 12%, 34%);

  --clr-white-1: hsl(0, 0%, 100%);
  --clr-white-2: hsl(276, 100%, 99%);

  --ff-body: "Manrope", sans-serif;
  --ff-heading: "Fraunces", serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* CSS Reset and Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-body);
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--clr-purple);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: 600;
}

h1 {
  font-size: 8rem;
  line-height: 80px;
}

h2 {
  font-size: 5.6rem;
  line-height: 64px;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

/* Utility Classes */
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
}

.txt-center {
  text-align: center;
}

.flex-even {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--clr-green);
  color: var(--clr-purple);
  font-family: var(--ff-body);
  font-weight: var(--fw-bold);
  width: 16rem;
  height: 6rem;
}

.btn-primary:hover {
  background-color: var(--clr-purple);
  border: 2px solid var(--clr-green);
  color: var(--clr-green);
}

.btn-secondary {
  color: var(--clr-white-1);
  background-color: var(--clr-purple);
  border-bottom: 3px solid var(--clr-green);
  padding: 0.5rem;
  font-family: var(--ff-body);
  font-weight: var(--fw-bold);
}

.btn-secondary:hover {
  color: var(--clr-green);
}

.btn .text-center {
  text-align: center;
}

.hero {
  background-color: var(--clr-purple);
  padding: 5.8rem 0;
}

.hero__headline {
  display: grid;
  gap: 3.8rem;
  margin: 5.5rem auto;
  max-width: 63.5rem;
}

.hero__headline h1 {
  color: var(--clr-white-1);
}

.hero__headline span {
  border-bottom: 3px solid var(--clr-green);
}

.hero__headline img {
  margin-top: 4.5rem;
}
