@font-face {
  font-family: "Fraunces", serif;
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope", sans-serif;
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400, 700;
}

:root {
  --clr-purple: hsl(273, 85%, 13%);
  --clr-green: hsl(150, 100%, 63%);
  --clr-grey: hsl(271, 12%, 34%);

  --clr-white-1: hsl(0, 0%, 100%);
  --clr-white-2: hsl(276, 100%, 99%);

  --ff-body: "Manrope", sans-serif;
  --ff-heading: "Fraunces", serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* CSS Reset and Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-body);
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--clr-purple);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 8rem;
  line-height: 80px;
  color: var(--clr-white-1);
}

h2 {
  font-size: 5.6rem;
  line-height: 64px;
}

h3 {
  font-size: 3.2rem;
  line-height: 40px;
}

.hero {
  background-color: var(--clr-purple);
  min-height: 100vh;
  clip-path: ellipse(100% 80% at 50% 0%);
  position: relative;
}

.hero__row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
  padding-block: 5.8rem;
}

.header__btn a {
  color: var(--clr-white-1);
  text-decoration: none;
  border-bottom: 3px solid var(--clr-green);
  padding-bottom: 0.5rem;
}

.header__btn a:hover {
  color: var(--clr-green);
}

.hero__headline {
  display: grid;
  place-items: center;
  gap: 3.8rem;
  text-align: center;
  width: 64rem;
  margin: 5.5rem auto;
}

.hero__headline span {
  border-bottom: 3px solid var(--clr-green);
}

.btn__primary {
  background-color: var(--clr-green);
  color: var(--clr-purple);
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  padding: 1.3rem 3.2rem;
  width: 16rem;
  height: 6rem;
}

.btn__primary a {
  text-decoration: none;
}

.hero__image {
  text-align: center;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
}

.hero__pattern-1 {
  position: absolute;
  top: 11.6rem;
  left: -13.8rem;
  z-index: 1;
}

.hero__pattern-2 {
  position: absolute;
  top: 31.4rem;
  right: -4.8rem;
  z-index: 1;
}
